#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# g++-4.7 does not have SSP. This workaround can be removed
# when we switch to gcc 4.8
ifeq (arm64,$(DEB_HOST_ARCH))
	export DEB_CXXFLAGS_MAINT_STRIP := -fstack-protector
endif

include /usr/share/dpkg/default.mk

ifneq (ppc64el,$(DEB_HOST_ARCH))
	export GCC_VERSION := -4.7
endif

export CC=$(DEB_HOST_GNU_TYPE)-gcc$(GCC_VERSION)
export CXX=$(DEB_HOST_GNU_TYPE)-g++$(GCC_VERSION)

export DPKG_GENSYMBOLS_CHECK_LEVEL=4

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_INSTALL_LIBEXECDIR=/usr/lib/$(DEB_HOST_MULTIARCH)/dbus-cpp -DCMAKE_C_COMPILER=$(DEB_HOST_GNU_TYPE)-gcc$(GCC_VERSION) -DCMAKE_CXX_COMPILER=$(DEB_HOST_GNU_TYPE)-g++$(GCC_VERSION)

override_dh_auto_test:
	if [ "$(DEB_HOST_MULTIARCH)" != "powerpc-linux-gnu" ]; then \
		dh_auto_test; \
	fi
